@font-face
  font-family 'SourceCodeVariable'
  src url('../fonts/SourceCodeVariable.ttf')
html
body
p
ol
ul
li
dl
dt
dd
blockquote
figure
fieldset
legend
textarea
pre
iframe
hr
h1
h2
h3
h4
h5
h6
  margin 0
  padding 0
h1
h2
h3
h4
h5
h6
  font-size 100%
  font-weight normal
ul
  list-style none
button
input
select
textarea
  margin 0
  border none
  outline none
  padding 0
html
body
  font-family 'SourceCodeVariable'
  font-weight light
  width 100%
  height 100%
  font-size 100px
  box-sizing border-box
*
*::before
*::after
  box-sizing inherit
img
embed
iframe
object
video
  height auto
  max-width 100%
img
  vertical-align top
audio
  max-width 100%
iframe
  border 0
table
  border-collapse collapse
  border-spacing 0
td
th
  padding 0
  text-align left
a
  text-decoration none
  color #eee
  cursor pointer
html::-webkit-scrollbar
  display: none
